@charset "UTF-8";

:root {
    --cor_lilas: #5f2c82;
    --cor-azul: #49a09d;
    --cor-azul-claro:rgb(111, 240, 235);
    --cor-azul-escuro: #25504e;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor_lilas);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    background: var(--cor_lilas) url(../imagens/predio.jpg) no-repeat center bottom; 
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--cor_lilas);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--cor_lilas);
    margin: 5px 0px;
}

form label {
    display: none;
}

div.campo {
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: var(--cor-azul-claro);
    font-size: 1em;
    width: calc(100% - 44.5px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 10px;
    transform: translateY(-14px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor-azul);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--cor-azul-escuro);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid var(--cor-azul);
    color: var(--cor-azul-escuro);
    border-radius: 5px;
    padding-top: 7px;
    margin-top: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: var(--cor-azul-claro);
}

form > a.botao > span {
    font-size: 0.8em;
}