@charset "UTF-8";

:root {
    --cor_lilas: #5f2c82;
    --cor-verde: #49a09d;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor_lilas);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: var(--cor_lilas) url(../imagens/predio.jpg) no-repeat center bottom; 
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}